[2017-02-28 08:37] vbhavdal opened #1 "Maven central"
Great and much needed project. Do you have plans to push releases to Maven central?

[2017-03-05 10:38] neuhalje commented on #1
Vegrad, sorry for the delay.

It is already published on [jcenter](https://bintray.com/neuhalje/maven/bouncy-gpg), see [here](https://github.com/neuhalje/bouncy-gpg/blob/master/examples/decrypt/build.gradle) on how to include that version.

I'll check how to publish it to maven central

[2017-03-05 10:44] neuhalje commented on #1
I'll keep you posted

[2017-03-05 11:33] neuhalje opened #2 "Sign the jars with own GPG key"
Sign alls jars & the POM with the GPG key specified in [`gradle.properties`](gradle.properties.tpl).

[2017-03-05 11:33] neuhalje commented on #1
See issue #2

[2017-03-05 11:57] neuhalje commented on #1
Wow, mavenCentral is ugly: http://central.sonatype.org/pages/ossrh-guide.html

Would you mind to use jcenter?

[2017-03-07 06:57] vbhavdal commented on #1
Thanks @neuhalje , we are able to get around this yes, no problem, I was just curious if you had it planned.

[2017-03-07 07:07] neuhalje commented on #1
Great! In you need any support, do not hesitate to get in touch with me

[2017-03-21 18:32] jayceekay commented on #1
Hi, this might be a silly question, apologies if so.

I've got a project that's using maven as our project/dependency manager and I was hoping to use this library. So far I've taken the `settings.xml` that JCenter generates from here: https://bintray.com/neuhalje/maven/bouncy-gpg (shown when you click "Set me up") as well as the dependency snippet, but my IDE (IntelliJ) is still unable to resolve

[2017-03-21 19:43] neuhalje commented on #1
That was easy :-) I uploaded an [example project for maven](https://github.com/neuhalje/bouncy-gpg/tree/master/examples/maven)

[2017-03-21 19:57] neuhalje opened #3 "Not included in jcenter"
The library went missing in jcenter. A ticket has been opened.

As a workaround:

Drop  this in the root level of pom.xml:

[code]
and this dependency snippet:

[code]

(Thanks to @jayceekay)

[2017-04-10 19:04] neuhalje commented on #3
Back in jcenter

[2017-04-10 19:04] #3 closed

[2017-05-19 18:21] neuhalje opened #5 "Raise specific Exception in case of failed Signature check"

[2017-08-18 22:38] neuhalje opened #7 "Add concordion style & script to website"
- open/close stacktrace
- colors for asserts

[2017-08-20 12:16] neuhalje opened #8 "Switch to Apache 2.0"
Switch license to Apache 2.0

[2017-08-20 12:16] #8 closed

[2017-08-22 07:15] neuhalje commented on #8
Last commit under WTFPL: d7f2ae6a9dd1258b71c97c915d366adf39100a4c  (tag license/last-wtfpl)

https://github.com/neuhalje/bouncy-gpg/tree/license/last-wtfpl

[2017-08-22 09:58] neuhalje opened #10 "[PMD] Enable DataflowAnomalyAnalysis in PMD 6.0"
PMD DataflowAnomalyAnalysis has to many false positives and has been disabled in 2f604bc41570ed38ac8ea7851b9d363ce1a70ef9. Enable again, when the bugs in PMD are fixed.

https://github.com/pmd/pmd/labels/in%3Adata-flow

[2017-09-18 13:17] lrpreda opened #11 "Encrypt using aes256"
Hi,

There is a way for encrypt using AES 256 ??? I didn't see anything related to AES in any example or document.

Thanks

[2017-09-18 14:08] lrpreda commented on #11
Found it.....

I created a new PGPAlgorithmSuite(SHA_256, AES_256, ZLIB) and use it in BouncyGPG.... withAlgorithms(This new Suite);

thanks !

[2017-09-18 14:08] #11 closed

[2017-10-10 20:02] mcanlas opened #12 "Empty key rings"
Does it make sense to support empty key rings? If I'm encrypting something, I presumably only need the recipient's public key to do so. Likewise, if I'm decrypting something, I only need my secret key.

This seems to be possible with GPG on the command line. Is my understanding not correct?

[2017-10-10 21:18] mcanlas opened #13 "Input stream based key rings"
It'd be cool to have a class that consumes input streams to get the key rings. That seems to be how it works under the hood.

[2017-10-11 19:36] neuhalje commented on #12
Empty keyrings can be created by calling [`KeyringConfigs.forGpgExportedKeys(...)`](src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/keys/keyrings/KeyringConfigs.java#forGpgExportedKeys).

The following test does exactly that:

[code]

[2017-10-11 19:36] #12 closed

[2017-10-11 21:17] neuhalje commented on #13
Good idea :-)

[2017-10-11 21:17] #13 closed

[2017-10-13 20:25] mcanlas commented on #13
Dope, thank you for responding to this and #12 so quickly. Any plans on cutting a release? Been enjoying your library very much.

[2017-10-13 21:13] mcanlas commented on #12
Just tested in my project, works great so far. Is that code among the example code?

[2017-10-14 08:10] neuhalje commented on #12
Not yet. I am working on a website with documentation, examples, and best practices. The skeleton can be found here: https://neuhalje.github.io/bouncy-gpg/

As soon as I have the process of writing documentation „stable“ I‘ll make it open for PRs.

[2017-10-14 08:30] neuhalje commented on #13
Thanks 😀

A new release is planned for „when I get the documentation flying“. Also I need to find out how to best mark certain portions (symmetric key derivation) as „alpha and like likely to change“.

In measurable units that would be „within the next month“.

[2018-01-31 19:29] iNPUTmice opened #14 "FR: Encrypt to multiple recipients + encrypt to self"
I have two feature request that could be combined into one.
First I would like to be able to encrypt to multiple user ids.
Second I would like to (optionally) also encrypt to myself. The second of course can be done with the first. But maybe it would be nicer to have it as a paramater in the fluid interface. like `….andEncryptToSelf()` or something like that.

I could provide a PR if we can agree

[2018-02-03 08:59] neuhalje commented on #14
Adding multiple recipients sounds like a good idea. I'd say to add `toRecipients(String...)` so that it is grammatically correct. I would keep `toRecipient(String)` in order to keep the API stable. The "duplication" (both `toRecipient("test@example.com")` and `toRecipients("test@example.com")` would work) is  a non-issue to me.

`...andEncryptToSelf()` is more difficult as the API ([KeyringConfig]

[2018-02-03 09:39] iNPUTmice commented on #14
OK. I'll try to create a PR on Monday.

[2018-02-19 16:58] gd-iistomin opened #15 "Cannot decrypt using ByteArrayInputStream as input stream"
Hello, I ran into the following issue:
I need to decrypt some secret data which is just encrypted and stored in memory as byte array. I have the following error:
[code]
My source code:
[code]
Have you any ideas what I'm doing wrong, or it is an expected behaviour?

[2018-02-20 08:54] neuhalje commented on #15
I can reproduce your result.

The root cause is that the encryption stream has to write data (e.g. the signature, but other things as well) _after_ all data from the `InputStream` has been consumed. Technically this has to be done in the encryptions stream `close()` method.

Normally a well placed `outputStream.close()` would solve your problem:

[code]

Alas, the current version seems to have a b

[2018-02-20 08:54] #15 closed

[2018-02-20 08:55] neuhalje commented on #14
Ping :-)

[2018-03-23 04:53] martinedge opened #16 "Encryption Key is being selected for signing rather than signing subkey"
When encrypting and signing a file, I'm getting complaints that the encryption key is being used to sign.

I can see code in the source that suggests there has been attempted provisions to get the correct sub key, but I am not sure it is being used in this circumstance.

I have regenerated keys just in case to no avail.

Are there any special tricks to ensure the correct subkey is used for the sig

[2018-03-23 06:40] neuhalje commented on #16
To get a better understanding: Who is complaining, and when? My code, bouncy castle or the recipient? I guess you use RSA keys?

For the record (and google) the quote of the mentioned selection logic:

The keys for signing are selected in [PGPUtilities](https://github.com/neuhalje/bouncy-gpg/blob/master/src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/keys/PGPUtilities.java#L123-L

[2018-03-23 07:14] martinedge commented on #16
Hey Jens,

The recipient is the one complaining – Everything validates in bouncy castle fine from what I see.

When they review a signing done by a CLI and another by my application;

gpg cli file

gpg --batch --quiet --no-greeting --no-tty --use-agent --decrypt ./emmer-gpg.asc > emmer-gpg.txt

gpg: Signature made Fri Mar 23 10:55:26 2018 AEDT using RSA key ID 724E6B3A

gpg: Good signature from "E

[2018-03-23 07:46] martinedge commented on #16
Ugh that formatting is horrible - pro tip don’t reply via email.

Try this;

Hey Jens,

The recipient is the one complaining – Everything validates in bouncy castle fine from what I see.

When they review a signing done by a CLI and another by my application;

gpg cli file
gpg --batch --quiet --no-greeting --no-tty --use-agent --decrypt ./emmer-gpg.asc > emmer-gpg.txt
gpg: Signature made Fri Mar 2

[2018-03-23 22:40] neuhalje commented on #16
Hi Martin,

this looks really good! I'll have a look at this this weekend. If it works, I'll prepare a new release

Cheers, Jens

[2018-03-24 08:46] neuhalje opened #17 "bump BC to 1.59"
The bouncy castle [change log](https://www.bouncycastle.org/latest_releases.html) shows no relevant issues for BouncyGPG. Update to track latest and greatest.

[2018-03-24 08:57] neuhalje commented on #16
The correct way to determine the key usage is specified in the [RFC](https://tools.ietf.org/html/rfc4880#section-5.2.3.21):

[2018-03-24 10:11] martinedge commented on #16
That sounds pretty definitive! :)

[2018-03-25 22:17] neuhalje commented on #16
@martinedge Can you please test if this works? (Clone, `./gradlew install`, and then build & test your binary). I did not yet bump the version (and if it works it will 2.2.0 and not 2.0.2 due to minor API changes)

I added a new class [Rfc4880KeySelectionStrategy](src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/keys/callbacks/Rfc4880KeySelectionStrategy.java) to abstract away all

[2018-03-26 01:56] martinedge commented on #16
Hey Jens,

I've tested the change and it's now reporting that it cannot find the sender UID in the public key ring.

This begs the question as to whether I'm using your library incorrectly - and we've potentially improved detecting but underneath it all I'm actually doing the wrong thing. My expectation is that the encryption and signing process could ascertain what it needed from the private key

[2018-03-26 06:26] neuhalje commented on #16
Sorry for the inconvenience, that was a rather largish refactoring/change.

Ok, so the recipient complains? The way you use it seems to be ok. I assume you are running in the Code path that has loaded the private keys? Signing without the Senders private key won‘t work.

Can you
- run the code with tracing enabled
- run the recipient (gpg?) with -vv

BTW: you can always add the private key file, e

[2018-03-26 06:52] martinedge commented on #16
Hey Jens,

No - your library complains that it is unable to find the senders public key for signature.

I am using the public key from the receiver for the first parameter of the key ring method.
I am using my private key for second parameter for the key ring method (to sign and encrypt).

[code]

I guess my query is then - when it comes to ascertaining whether it has a keyring with the _sender_ U

[2018-03-26 07:00] neuhalje commented on #16
I tried the following and it works 'kind of'. I _think_ I  the issue is a borked expiry check but the train is arriving at my $DAYJOB in 2 minutes. I'll look into this tonight ("Europe tonight" ;-) ).

---

_note_: Key [0x83063C3DA3814052](https://github.com/neuhalje/bouncy-gpg/blob/master/src/test/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/keys/callbacks/RFC4880TestKeyrings.java#L49

[2018-03-26 07:03] martinedge commented on #16
Interesting! Well, the public key part of the process I believe the code is performing fine. (does not (at least I think) have an expired portion.).

It's actually when validating the sender (sysadmin@emersion.com.au) it's attempting to find it in the public key ring.

I think I've managed to get gradle working with this project, so if I can debug I may be able to provide more information.

Have a

[2018-03-26 10:50] martinedge commented on #16
Whilst we work through this - we can work on email if you want - medge at neverathome.net :)

[2018-03-26 22:10] neuhalje commented on #16
I send you a mail

[2018-03-28 20:22] neuhalje commented on #14
Implemented with e53d1d2:

[code]

[2018-03-28 20:22] #14 closed

[2018-03-28 20:23] #17 closed

[2018-03-28 20:34] neuhalje commented on #17
Fixed in cddc33d

[2018-03-28 20:35] neuhalje commented on #17
cddc33d

[2018-03-29 10:02] martinedge commented on #16
Issue is resolved. Primarily my fault in misunderstanding that the signers public key needs to be loaded in the public key ring also - but hey, we made an improvement nonetheless!

Thanks Jens!

Martin

[2018-03-29 10:02] #16 closed

[2018-05-08 15:54] vanitasvitae opened #19 "Rfc4880KeySelectionStrategy only considers email addresses as uids"
I'm not sure, if this is really an issue on your side, but the Rfc4880KeySelectionStrategy's `publicKeyRingsForUid()` method encloses uid queries with `<` and `>`, so every query represents an email address.

The query `juliet@example.org` would match the uid `Juliet Capulet <juliet@example.org>`.

[Rfc4880](https://tools.ietf.org/html/rfc4880#section-5.11) however states:
[code]

In my case I hav

[2018-05-10 09:30] neuhalje commented on #19
This is a good find! I'll look into this!

[2018-05-10 11:47] vanitasvitae commented on #19
Maybe the Rfc4880KeySelectionStrategy should be named EmailKeySelectionStrategy instead.

[2018-05-11 16:58] vanitasvitae opened #20 "PGPKeyGeneration"
Hi!
Do you consider adding code to generate PGPKeys?
I'm currently trying to generate my own PGPKeys using BouncyCastle, but fail to use them in the process of encryption due to "No suitable keys found".

Apparently the keyflags on the keys I generate are always 0.
Do you have a hint, how to create keys that can be used with Bouncy-gpg?

[2018-05-11 20:11] neuhalje commented on #20
At the moment my spare time is quite limited. So this is not a "no" but a "not now" :-/.

 I would gladly merge a key generation though!

[2018-05-16 12:40] vanitasvitae commented on #20
I created a first design of an API for key generation. Right now only RSA keys are really supported though. In the process I discovered that the plaintext export of secret keys is [apparently broken](https://github.com/bcgit/bc-java/issues/348) in BC 1.59.

Still, you might want to [take a look](https://github.com/vanitasvitae/pgpainless/commit/9fb6417e1118482ae728e65e03026baee18500d3) and give so

[2018-05-27 20:50] vanitasvitae opened #21 "Writing Keyrings to storage"
Hi!
I noticed, that Bouncy-GPG for now only focusses on reading keyrings from files etc.
Is support for writing modified keyrings planned as well?

[2018-06-10 18:59] neuhalje commented on #21
I ain't not dead yet :-) .... just a lot of "real world TODOs" .... nothing is really planed, I go on a "what the users need" base

[2018-06-19 18:56] vanitasvitae commented on #21
Just for the record: I decided to create my own library due to limited time and me constantly breaking your test cases :laughing:. I'm following a similar pattern as your library though, so you might still be able to pick some of my code and port it to bouncy-gpg :)

[2018-06-19 19:20] neuhalje commented on #21
You are welcome! Copy as much as you want — that ist what FOSS is for! 😊

[2018-06-19 21:21] vanitasvitae commented on #21
Same for you obviously :)

[2018-07-20 01:54] zcaudate opened #22 "question about gnupg v2.1+ secring.pgp"
In the readme, you mentioned `Use the other methods to read private keys`.

Would you give an example of how this can be done?

[2018-07-22 08:05] neuhalje commented on #22
## On using (sec|pub)ring.gpg

*I strongly advise against using `secring.gpg` or `pubring.gpg` for production systems*. These files are an undocumented API of gnupg: usable, but can change or show unexpected results. E.g. with GPG 2.1 the `secring.gpg` file gets no longer updated [and will provide you with stale data](https://gnupg.org/faq/whats-new-in-2.1.html#nosecring) (emphasis by me):

## Rec

[2018-07-23 18:40] neuhalje commented on #22
@zcaudate - did this answer you question?

[2018-07-24 00:16] zcaudate commented on #22
Yes. That was awesome. I didn’t expect that.  Thanks for such a comprehensive summary.

[2018-07-24 06:34] neuhalje commented on #22
You are welcome!

[2018-07-24 06:34] #22 closed

[2018-10-14 11:27] zcaudate opened #23 "how to generate an openpgp key?"
There are examples on how to read a key that is exported. I'm looking for a way to generate a key directly using the library. Are there examples on how to do this?

[2018-10-14 14:02] codesandnotes commented on #23
There is an issue opened for key generation ([Issue #20](https://github.com/neuhalje/bouncy-gpg/issues/20)). As far as I know this feature is not yet implemented in BouncyGPG... In the meantime, maybe [this](https://github.com/codesandnotes/openpgp-integration/tree/java-key-generation) will help: https://www.codesandnotes.be/2018/07/17/openpgp-java-keys-generation/

[2018-10-18 06:16] zcaudate commented on #23
@neuhalje that would be great.

[2018-11-06 01:54] jrobens commented on #21
Is this about the gpg2 secret key format where the keys are stored in private-keys-v1.d directory in individual files or reading from some secrets provider, sql, nosql etc provider?
I'm interested in both, but gpg2 format first.

[2018-11-07 07:49] neuhalje commented on #21
@jrobens Haven't decided yet - depends on what BouncyCastle provides for this

@vanitasvitae : What does your implementation support?

[2018-11-07 14:38] vanitasvitae commented on #21
PGPainless currently has no real API for writing keys. If a user wants to write keys/keyrings to file, they must use the BC methods for now. Still, creating a simple API for writing is definitely something on my TODO list.

[2018-11-10 09:58] neuhalje commented on #21
@jrobens  storing keys in a store of your own application is recommended.  I wrote [a reasoning](https://github.com/neuhalje/bouncy-gpg/issues/22#issuecomment-406848767) for why using `gpg`s storage is most likely not the best course of action.

[2018-11-10 09:58] #21 closed

[2018-11-13 06:39] neuhalje commented on #21
@jrobens : Thanks!

[2018-11-13 11:54] mgrossmann opened #24 "Is ASCII armoring supported?"
Hi there,

first of all many thanks for implementing my change suggestion from pull request #6. Today I would like to ask if decrypting ASCII armored data is already supported.

Greetings Mike

[2018-11-13 20:05] neuhalje commented on #24
Hi @mgrossmann, sure, e.g. in [DecryptionStreamFactoryTest.java 48-68](https://github.com/neuhalje/bouncy-gpg/blob/c6cb7a0933e0dd725beb7c5f6b16fb5fba3c715a/src/test/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/decrypting/DecryptionStreamFactoryTest.java#L48-L68) and [296-395](https://github.com/neuhalje/bouncy-gpg/blob/c6cb7a0933e0dd725beb7c5f6b16fb5fba3c715a/src/test/java/name/neuhalf

[2018-11-13 20:05] #24 closed

[2018-11-20 15:00] nmatt commented on #19
I ran into the same problem; it would be nice if this could be fixed.

[2018-11-20 15:07] vanitasvitae commented on #19
@nmatt as a workaround you can implement your own `KeySelectionStrategy` ;)

[2018-11-20 20:35] nmatt commented on #19
@vanitasvitae: That’s what we’ve done, but it would still be nice if it weren’t necessary, and it’s the only open bug issue. ;)

[2018-11-20 21:53] vanitasvitae commented on #19
@nmatt create a PR ;)

[2018-11-28 20:31] Alexey1Gavrilov commented on #19
Same problem

[2018-11-28 21:36] neuhalje commented on #19
I‘ll Look into this.

[2018-11-30 07:46] neuhalje commented on #19
@vanitasvitae / @nmatt / @Alexey1Gavrilov  : Care to review pr #25 ?

[2018-11-30 09:12] vanitasvitae commented on #19
@neuhalje haven't looked too deep into it, but on first glance it looks promising :)

[2018-12-01 22:55] neuhalje commented on #19
I pushed the fix to master. I'll release a new version tomorrow.

[2018-12-03 20:11] neuhalje commented on #19
I just published [2.1.1](https://github.com/neuhalje/bouncy-gpg/releases/tag/release%2Fv2.1.1).

To enable this new feature call "selectUidByAnyUidPart()":

[code]

[2018-12-03 20:11] #19 closed

[2018-12-04 16:17] nmatt commented on #19
@neuhalje Thanks for the quick fix, I can confirm that it solves our use case.

[2018-12-04 22:01] herbertpimentel opened #26 "KeySelectionStrategy that receive keys"
I cant find a way to define a keystregy any other beyond by email, this is a problem because I don't know name ID of the key sent to me. I only need to use this public key to encrypt to my sender.

In the end  would be awesome have an option to KeySelectionStrategy such as:

[code]

I am sorry, this may is a stupid question but I really don't know how to deal with it.

[2018-12-05 20:40] neuhalje commented on #26
The easiest way to to that would be to use the `InMemoryKeyring` and call `getPublicKeyRings()` / `getSecretKeyRings()`.

Then, to [Demeters](https://en.wikipedia.org/wiki/Law_of_Demeter) utmost horror, call `.getKeyRings().next().getSecretKey().getUserIDs().next()` to get the user Ids of the keys.

If this does not work reliably (e.g. you cannot distinguish your and the customers key) have a look

[2018-12-06 07:04] neuhalje commented on #26
@herbertpimentel , try this. The (ugly..) magic is in `firstUidForKeyRings(...)`. The rest is standard encryption.

[code]

[2018-12-06 07:06] neuhalje opened #27 "Support keyId in all APIs"
**Is your feature request related to a problem? Please describe.**

Some parts of `BuildDecryptionInputStreamAPI`/`BuildEncryptionOutputStreamAPI` accept keyIds and userIds, others only the userIds. This makes it harder to work with keys where the keyId is known, but not the userId.

**Describe the solution you'd like**
Extend the APIs to add keyId parameters

**Describe alternatives you've consid

[2018-12-11 21:55] neuhalje commented on #26
@herbertpimentel : did you get a chance to try the workaround?

[2018-12-20 22:10] #2 closed

[2018-12-21 13:36] herbertpimentel commented on #26
Sorry, I will try it out. But I have accomplished my task using a product library.

[2018-12-22 23:40] neuhalje commented on #23
FYI -- I am currently working on it

[2018-12-29 11:49] zcaudate commented on #23
thanks so much for this. looking forward to it.

[2018-12-29 12:02] neuhalje commented on #23
@zcaudate The implementation looks _quite_ good (if you want, I'd welcome feedback on the API design behind `BouncyGPG::createSimpleKeyring` and `BouncyGPG::createKeyring`)

[2018-12-29 12:16] neuhalje opened #30 "Integration tests fails with PGP interop for ECC keys ( gpg: decryption failed: No secret key)"
**Describe the bug**
The integration tests with gpg fail for exporting BouncyGPG generated private ECC keys to gpg.

**To Reproduce**
[Failing test for ECC keyrings](https://github.com/neuhalje/bouncy-gpg/blob/3af038f6704425cf1082492249fbabdfddc7ce39/src/integration-test/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/integration/BouncyGPGCanEncryptToGPG.java), although RSA keyrings work.

[2018-12-29 12:17] neuhalje commented on #30
[code]

[2018-12-29 13:50] vanitasvitae commented on #30
Hm, I *think* I haven't come across this one yet. I'll check, if PGPainless is also affected later :)

[2018-12-30 10:07] neuhalje commented on #30
RSA (works):
[code]

ECC (does not work):
[code]

Manually created key:
[code]

* *RSA* has the keyflags SC*E*A on the master key but no subkey
* *ECC* has the keyflags SCA (no "E") on the master key and a subkey with "E"
* *Manually ECC key* has the keyflags SC on the master key and a subkey with "E"

[2019-01-02 11:58] vanitasvitae commented on #30
I'm really puzzled about this... This is the third time I try to compose this post, but everytime I do, another error happens/doesn't happen :D

I think PGPainless is affected by this *somehow*. When I try to recreate this, I get an error like the one you stated above about half the time. The other runs are fine (now I cannot recreate the bug at all). Have you run your test repeatedly?

Here is a

[2019-01-02 16:51] neuhalje commented on #30
## Reproducible

The integration test (`git clone https://github.com/neuhalje/bouncy-gpg.git ; ./gradlew integrationTest --info`; _log in build/reports/tests/integrationTest/index.html_ ) fails consistently. Even when I change the key generation (RSA with subkeys) the result stays the same (RSA works, ECC fails).

### BC version

I use bouncy castle 1.60 AND your `repairSubkeyPackets`.

### repair

[2019-01-02 18:18] vanitasvitae commented on #30
Note: The bug I pointed out is *not* related to https://github.com/bcgit/bc-java/pull/349 but a different bug, which was merged after BC 60 was released.

[2019-01-02 18:41] neuhalje commented on #30
@vanitasvitae: thanks for the clarification

[2019-01-03 07:34] neuhalje opened #31 "Allow UIDs to be managed"
**Is your feature request related to a problem? Please describe.**
GPG keys can carry multiple user IDs. BouncyGPGs key generation currently only supports a single UID per keyring.

**Describe the solution you'd like**
The API  for keyring management should enable the caller to
* Add user IDs to a key
* Enumerate all user IDs of a key
* Remove user IDs from a key
* Set the validity of user IDs

 *

[2019-05-13 06:30] mgrossmann opened #32 "Support for sign only"
I would like to offer the functions sign() and verify(). As you know from PGP, I want to create a second file in which the signature of the original file is stored. Currently there are only the methods encryptToStream() and decryptAndVerifyStream() in the class BouncyGPG.

Best regards /
mit freundlichen Grüßen

Mike

[2019-05-18 08:00] neuhalje commented on #32
You mean implement [detached signatures](https://www.gnupg.org/gph/en/manual/x135.html#AEN160)?

I would really appreciate a pull request. Right now I am quite busy at `$DAYJOB` ant will probably be till the end of summer. So I can discuss PRs, API and test design but won't really be able to  implement much.

On a different topic: I am also in the process of implementing key generation (#30) - hel

[2019-06-06 14:26] mkari37 opened #33 "Method for returning keys and/or IDs from decryption?"
Could I request a method that allows the caller to extract exactly which key(s) were used to decrypt, and which key(s) were used for signature verification, after the decryption has completed?

I have a working solution, but it is a Frankensteinian monster that tramples all over your elegant design, and I am ashamed.

[2019-06-13 08:06] naude-r opened #34 "Support flag on keys without sub keys"
**Is your feature request related to a problem? Please describe.**
We've received a key from an external party without any sub-keys. bouncy-gpg refuses using this key for encryption as no sub-key is present with the encryption flag. This flag is however available on the key itself.

**Describe the solution you'd like**
Query the primary key for flags. sub-keys, if any are present, can add / overri

[2019-06-13 11:59] neuhalje commented on #34
@naude-r , any idea what the correct gpg commandline call would be to create such a key?

btw: 1024 is no longer considered secure

[2019-06-13 12:27] naude-r commented on #34
@neuhalje not sure. looking at the key it was generated with the .net libraries:
Version: BCPG C# v2.0.0.0

the key can be provided if you would like to inspect it.

[2019-06-13 13:49] naude-r commented on #34
@neuhalje got it working using the commandline:
[code]
1. choose option 8: (8) RSA (set your own capabilities)
2. keep actions as is (Q Finished)
3. any validity
4. any test uid
5. choose okay

output for the test key:
[code]

hope this helps.

[2019-06-16 07:09] neuhalje commented on #34
Thank you! - I'll look into this (probably next week)

[2019-06-16 07:14] neuhalje commented on #33
Instead of returning just a stream I am thinking of returning an object with fuller semantics

[2019-06-16 07:20] neuhalje commented on #23
Quick update: I ran into some blockers with ECC key generation (failing integration tests, see #30 )

[2019-08-07 12:55] cincarnato opened #35 "BouncyGPG.registerProvider() method not found"
I add bouncy-gpg 2.1.2 as a dependency (Maven).

I follow the examples,, but the method registerProvider in BouncyGPG doesn't exist.

[2019-08-14 15:22] neuhalje commented on #35
Hi @cincarnato ,

it seems I added this after 2.1.2 . Just use the following code:

[code]

[2020-01-10 13:37] mkmeral opened #37 "Not null requirement for Keyring Config"
Keyring config requires private key public key and password to be not null, even when they are not used. For example, even to only encrypt with public key (not signing) it requires those to be non null. Current workaround I found is to give empty string for password and random file for private key (because it creates an input stream from file).

The problem I specifically have is at (public class

[2020-01-15 22:57] michaelthecsguy opened #38 "Unable to encrypt a plaintext file without a secret key and passphrase"
Usage:  Need to encrypt a text file with ONLY 3rd party client's public key so I can transfer the encrypted data file to the 3rd party client.  The client received the encrypted the file and they can use their secret key and passphrase to decrypt it.

It looks like KeyringConfigs.withKeyRingsFromFiles requires secret key and passphrase that I don't have from the 3rd party client.  It doesn't allow

[2020-01-16 18:53] michaelthecsguy commented on #38
Not sure if this is same underlying issue with Issue 37.

[2020-01-17 18:42] neuhalje commented on #38
I'll look into it (probably next week)

[2020-01-17 19:00] neuhalje commented on #38
See #37

[2020-01-17 19:10] neuhalje commented on #38
Seems like an easy fix. I'll give it a shot -- since my dev version has some new features (key generation, yay) I will need to clean that up a bit (I just don't want to maintain two branches)

[2020-01-17 22:56] michaelthecsguy commented on #38
if you want, let me know if I can help (although I don't have strong cryptology knowledge) .  Tell me where to look to bypass.

[2020-01-18 18:31] neuhalje commented on #38
btw:

[code]

Will only work if you have the private key for `integrationkeys@viantinc.com`

[2020-01-18 18:50] neuhalje commented on #37
@mkmeral : Working on it. Is there a specific reason why you use the `FileBasedKeyringConfig`? I strongly recommend to switch to `InMemoryKeyring` because it is not dependend on gpg internals.

See [here](https://github.com/neuhalje/bouncy-gpg#on-using-secpubringgpg) for more reasons to do so.

[2020-01-18 18:58] neuhalje commented on #37
I moved `getSecretKeyRings` [into the conditional](https://github.com/neuhalje/bouncy-gpg/blob/aa35a820e871c4ca83d238976241990cd73f5b4c/src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/keys/callbacks/Rfc4880KeySelectionStrategy.java#L139) in commit aa35a82

Can you test with the version in GitHub?

[2020-01-18 19:01] neuhalje commented on #38
@michaelthecsguy : I strongly recommend to switch from `FileBasedKeyringConfig` to `InMemoryKeyring` (See [here](https://github.com/neuhalje/bouncy-gpg#on-using-secpubringgpg) for reasons)

[2020-01-19 09:12] neuhalje commented on #34
It seems: next week is already over ..

[2020-01-19 09:52] neuhalje commented on #34
@naude-r it seems to be fixed now. I could not reproduce it in bc167c4, so maybe I had fixed it before.

[2020-01-19 18:36] neuhalje commented on #38
@michaelthecsguy In any case: please try with 2.2.0

[2020-01-19 18:37] neuhalje commented on #26
Closing due to no reply

[2020-01-19 18:37] #26 closed

[2020-01-19 18:38] #35 closed

[2020-01-19 18:39] neuhalje commented on #23
v2.2.0 released with RSA key generation

[2020-01-19 18:39] #23 closed

[2020-01-20 09:00] naude-r commented on #34
@neuhalje re-tested using version 2.2.0.

still failing. have updated EncryptionScenariosTest with relevant key + uid. would be happy to send this to you.

[2020-01-20 18:45] neuhalje commented on #34
@naude-r please send it to me. Could you attach it to the ticket?

[2020-01-20 18:49] neuhalje commented on #37
Or with 2.2.0

[2020-01-21 05:44] naude-r commented on #34
recipientId = tusep2019xds2019vccbisherewh2dalof7expcompscos

[2020-01-21 08:09] neuhalje commented on #34
`$DAYJOB` starts in a few minutes. Here is my first analysis:

## The key is importable by GPG but has a different structure

[code]

Here is a comparison between you key, and the key I generated from your instructions:

[code]

And here is my key:
[code]

## The error is thrown in bouncy castle

The error is thrown by `bouncy-castle` when calling:

[code]
[code]

[2020-01-21 08:14] neuhalje commented on #34
BTW: your key looks fishy. In the last line there is a superflous "`" before BLOCK:

    -----END PGP PUBLIC KEY `BLOCK-----

[2020-01-21 08:30] naude-r commented on #34
apologies, my mistake. was trying to quote it.

bouncycastle do import the key. the problem arise when attempting to use it for encryption.

EncryptionScenariosTest fails with:
org.bouncycastle.openpgp.PGPException: No (suitable) public key for encryption to tusep2019xds2019vccbisherewh2dalof7expcompscos found

[2020-01-21 08:34] neuhalje commented on #34
Fixing that, and removing the leading spaces leads me to the following root cause: The key has no key-flags. It needs either the  `KeyFlag.ENCRYPT_COMMS)` or the `KeyFlag.ENCRYPT_STORAGE`.

I see two solutions:
* Use a key with correct key flags (the 1024 bit key is insecure anyway and will stop working in a few weeks)
* Implement your own key selection strategy like this (NOT recommended!)
[code]

[2020-01-21 08:37] naude-r commented on #34
thank you. we do not have control over the key. it is provided by a 3rd party.

for now our work-round is as above (overriding isEnryptionKey. not great, but not much we can do about that.

[2020-01-21 08:37] #34 closed

[2020-01-21 19:16] michaelthecsguy commented on #38
sorry if I miscommunicate. I had public Key for integrationkeys@viantinc.com but don't have private key.  That's only way that I can figure to do BouncyGBG.encrypToStream.

[2020-01-21 21:58] neuhalje commented on #38
From a security point of view: the best way is to create  your own private key (e.g. `michaelthecsguy@example.com`) and transmit its _public key_ to your recipient (`integrationkeys@viantinc.com`), and then sign via `.andSignWith("michaelthecsguy@example.com")`.

This way the recipient can say: This message is from @michaelthecsguy , and has not been tampered with. If possible, do it like this. Ev

[2020-01-21 22:42] michaelthecsguy commented on #38
I am going to test it today.  Will let you know.  Thanks for the fast turn around! @neuhalje

[2020-01-21 22:47] michaelthecsguy commented on #38
@neuhalje thanks for the explanation.  The problem is that I do not have private key.  The client has it but the client only shares the public key to me so that I can encrypt the sensitive data using his/her public key and then send it over.  Once the client received the encrypted data, he/she will use the private key to decrypt the data that I sent over.

I don't know if I understand correctly, a

[2020-01-22 12:18] neuhalje commented on #38
So, lunch break :-)

Correct, client will never give you his secret key (and neither should you give anyone your secret key).

I found [this](https://ianatkinson.net/computing/gnupg.htm) to be a nice introduction into gpg. It also explains the concepts of public/private keys.

Here is my very short "Public/Private Key Introduction":

1. A GPG key(-pair) consists of a *Public* and a *Private* key.

[2020-01-22 18:57] michaelthecsguy commented on #38
Thank you for taking your time to give me a crash course of gpg.  It is really helpful.  I appreciate it.  I also try to maven download 2.2.0 jar and seems it could not find it.  Did you upload it? I can still maven download 2.1.2 jar.

The Error msg from Intellij shows: "Dependency 'name.neuhalfen.projects.crypto.bouncycastle.openpgp:bouncy-gpg:2.2.0' not found "

[2020-01-22 20:51] neuhalje commented on #38
You are welcome! You’ll have to download from jcenter: https://github.com/neuhalje/bouncy-gpg/blob/master/README.md#maven

[2020-01-23 01:24] michaelthecsguy commented on #38
I still can't download 2.2.0 jar from jcenter with
`<repository>
      <id>bintray</id>
      <name>bintray</name>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <url>http://jcenter.bintray.com</url>
    </repository>`

My pom.xml was not changed since version 2.1.2.  Can you double check it?

[2020-01-23 07:04] neuhalje opened #39 "Downloading 2.2.0 from bintray fails with maven bc. of HTTP"
# Describe the bug
Downloading `2.2.0` with maven fails with an error message:
[code]

# To Reproduce

[code]
## Error message
[code]

The gist of seems to be:

[code]
# Expected behavior

The artifact  `bouncy-gpg-2.2.0` should be downloaded and used.

## System
 - OS: Ubuntu 18.04
 - Java: openjdk version "11.0.5" 2019-10-15
 - Version:  2.2.0
 - maven version: Apache Maven 3.6.1

# Additional c

[2020-01-23 07:06] neuhalje commented on #38
This seems to be a different problem: #39 -- I'll have to look into that later. Maybe you could try to find out what causes #39? :-) Would be much appreciated!

[2020-01-23 09:09] mkmeral commented on #37
@neuhalje : Yeah, I have later changed it to InMemoryKeyring, and I am using it like that right now. I won't be able to test it right now, since that would require for me to revert commits.  I will be able to test probably in 2 weeks, I will write back on the results.

[2020-01-23 18:37] neuhalje commented on #39
Jcenter switched to https-only download. `pom.xml` or `settings.xml` need to be updated to reflect this:

[code]

[2020-01-23 18:41] #39 closed

[2020-01-23 18:42] neuhalje commented on #38
Fixed #39. See [here](https://github.com/neuhalje/bouncy-gpg/issues/39#issuecomment-577815159) for the solution.

[2020-01-23 19:14] michaelthecsguy commented on #39
"JCenter only supports HTTPS..." no wonder I get 403 error.

thanks for the notice.

[2020-01-23 19:16] michaelthecsguy commented on #38
verified.  Need to change to https from http on repository tag in pom.xml.  The jar is successfully imported.

[2020-01-23 19:29] #1 closed

[2020-01-23 19:32] neuhalje commented on #1
@mike706574: After all these years .. finally

[2020-01-23 19:44] michaelthecsguy commented on #38
@neuhalje thanks for taking your time to write the quick introduction on GPG.  I will share this with my team and your explanation resolved our confusion.

To give you a background requirement, all clients are fine with getting unsigned files because we always upload the "encrypted" data files to their sFTP site with secured login.

[2020-01-23 22:42] michaelthecsguy opened #40 "Missing Maven pom.xml in Project root"
Before, there was a pom.xml at the project root.  Since the release of 2.2.0, it's missing.  Can you add it back?

[2020-01-23 23:27] michaelthecsguy commented on #38
@neuhalje Sorry to bother you again.  I tried KeyringConfigs.withKeyRingsFromFiles(...) without supplying privateKey and passphrase because I only have Client's public key. I also use .andDoNotSign() in my unit Test.  It throws NPE: secretKeyring must not be null.

Which KeyRingConfig or other class that I can import the Client's pub key?

[2020-01-27 06:21] neuhalje commented on #38
@michaelthecsguy : You'd use the `InMemoryKeyring`:

[code]

[2020-01-27 06:29] neuhalje commented on #40
Hi @michaelthecsguy,

the only `pom.xml` the project features is (still) in `examples/maven/pom.xml`. Are you looking for that one?

[2020-01-27 06:43] neuhalje commented on #37
Since InMemoryKeyring is the future I am inclined to close this

[2020-01-27 06:43] #37 closed

[2020-01-29 18:15] michaelthecsguy commented on #40
No... it was at the project root before.  I was not referring to examples/maven/
Sorry for the late reply because I had to attend the work conference. @neuhalje

[2020-01-29 18:16] michaelthecsguy commented on #38
@neuhalje will test it out today and will let you know.

[2020-01-29 18:44] xSAVIKx opened #41 "Do not expose logback as compile-time dependency"
**Describe the bug**
A library should not restrict its users to a particular logging framework. Currently, `bouncy-gpg` uses `logback` and depends on it in compile while this should be clearly up to the user what logging framework to use.

**Expected behavior**
Only the logging facade should be exposed such as `slf4j` or `flogger` or `log4j2-api`.

**Additional context**
While different applicatio

[2020-01-30 01:28] michaelthecsguy commented on #38
It works in my local! @neuhalje, so this is assuming that you have GPG setup properly in your system, right? or you just need GPG pub key location.

[2020-01-30 06:16] neuhalje commented on #38
If you use the InMemory keyring you do not need gpg

[2020-01-30 18:04] michaelthecsguy commented on #38
@neuhalje Nice.  Thanks for the enhancement patch.  the Issue is closed.

[2020-01-30 18:04] #38 closed

[2020-02-02 10:18] neuhalje commented on #41
thanks for the report & work around!

[2020-02-02 10:30] neuhalje commented on #40
@michaelthecsguy: I just checked, there as never been a `pom.xml` in the root of the project:

[code]

[2020-02-02 10:30] #40 closed

[2020-02-02 10:31] neuhalje commented on #40
There is some `pom.xml` related documentation in the [README](https://github.com/neuhalje/bouncy-gpg#maven)

[2020-02-04 01:03] jeffisaak commented on #32
I had a need for this as well, so I took the BuildEncryptionOutputStreamAPI and BuildDecryptionInputStreamAPI classes, cut some stuff out, and turned them into a working BuildSigningOutputStreamAPI and BuildVerificationInputStreamAPI. Did some basic testing and the results seem to be GPG-compatible, so I'm happy and using my hacked-up classes as they are. Oh, I also needed to take the PGPEncryptin

[2020-02-06 20:05] michaelthecsguy commented on #40
@neuhalje thanks putting it on public maven artifact repository

[2020-02-27 14:22] jaas0301 opened #43 "Command line gpg and this java library produces different results"
How do I convert following command into the equivalent using this library.

`gpg -e -r "recipient" --output output.gpg input.zip`

I have tried following options but with no success:

[code]

Every time I encrypt a file using command line and using the code, I get two different results. One with the command line for example if is 300KB, then the one with the code is almost twice the size  ~550KB.

[2020-03-07 12:07] neuhalje commented on #43
Some questions to narrow that down:
- What version of gpg is the legacy system using?
- What error do you get? Can you try to decrypt with `-vv` for a verbose output?
- The larger file size might be caused by using ZLIB vs. [BZIP2](https://github.com/neuhalje/bouncy-gpg/blob/master/src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/algorithms/PGPCompressionAlgorithms.java#L31).

[2020-03-07 12:08] neuhalje commented on #33
Wow ... that issue has gone stale :-/ Looking for support here (time constraints on my side)

[2020-03-24 20:05] jaas0301 commented on #43
I had to use binaryOutput instead of armorAsciiOutput.

This is a non issue, hence should be closed.

[2020-03-24 20:05] #43 closed

[2020-03-31 07:44] thasaleni opened #44 "A way to encrypt with just a public key"
**Describe the bug**
it is normal for third parties to give you a public key to encrypt a file you will send to them, i.e: they don't give you anything else, and the key is not signed. Currently the library requires a recipient address (which if I understand correctly is to search for the public key?) But you don't really need to search as if you are given a public key file you will only have that

[2020-03-31 20:13] ispringer opened #45 "MDC (integrity checksum) is not verified when decrypting"
**Describe the bug**
MDC is not verified.

**To Reproduce**
Step through code while decrypting a message that contains an MDC.

**Expected behavior**
MDC should be verified when present. There should also be a way to configure MDC policy - whether MDC is required.

**System**
 - Version: 2.2.0

**Additional context**
https://github.com/neuhalje/bouncy-gpg/blob/master/src/main/java/name/neuhalfen/p

[2020-04-01 15:37] jni- opened #46 "Some files cannot be decrypted with error "premature end of stream in PartialInputStream""
**Describe the bug**
An error occurs when decrypting some files. It seems caused by a stream closed too early (see additional information)

**To Reproduce**
[code]

**Expected behavior**
File gets decrypted

** System (please complete the following information):**
 - Device: Laptop?
 - OS: Linux 5.5.13-arch1-1 #1 SMP PREEMPT Wed, 25 Mar 2020 16:04:40 +0000 x86_64 GNU/Linux
 - Java
[code]
 - Versio

[2020-04-01 16:05] jni- commented on #46
Oh, I have more info.

I've traced the code using both files. The difference is that my `PGPCompressedData` contains a `PGPOnePassSignatureList` next (that works). The buggy file is not signed, it does not contain this packet. Instead, it jumps straight the literal data, which returns the stream itself.

Not sure I understand all of it so far, but it seems that having no signature list packets bre

[2020-04-02 15:07] ispringer commented on #46
I also encountered this issue. Like @jni-, I experienced it with one particular file, but not with others. The file I saw it for was a fairly small (12K) encrypted and signed CSV file. Both the encrypted file and the signer's public key were created using a very old PGP toolkit (v2 I think), which might be relevant. The files that worked were encrypted and signed by me using BouncyGPG.

#47 fixes

[2020-04-02 17:28] ispringer commented on #44
See also #27, which I think would also cover this issue.

[2020-04-02 19:39] ispringer opened #48 "KeyFlag#extractPublicKeyFlags throws NullPointerException if called on an older public key with no hashed subpackets"
**Describe the bug**
signature.getHashedSubPackets() will return null for older (v2 or earlier) public keys. And then the `hashedSubPackets.getKeyFlags()` call will cause an NPE.

**To Reproduce**
Try to call KeyFlag#extractPublicKeyFlags on an older public key that does not contain any hashed subpackets.

**Expected behavior**
No NPE.

**System**
 - Version: 2.2.0

[2020-04-03 19:07] michaelthecsguy opened #50 "No (suitable) public key for encryption to [a provided recipient email address] found"
Hi,

I tested encryption out with gpg in commandline with no problem.  When I test it out with Bouncy-gpg by using this code:

[code]

Then, It gives exception

[code]

This code works all other public key except this one.  The interesting part is that it works in GPG commandline.

I have attached the public key in the following comment. I don't know if the recipient email address the "dot" in fro

[2020-04-27 22:54] mdesmons commented on #50
I had the same issue. Checking the content of your key with:
`gpg --export -a <key id>|gpg --list-packets --verbose`

the key doesn't contain a KeyFlags subpacket (subpacket type 27). This section of the key indicates whether the key can be used for encryption, or signing, or other things.

In this case Bouncy-gpg assumes the key cannot be used for encryption.
GPG is more lenient: if a key doesn't

[2020-04-28 04:11] mdesmons commented on #50
Entered [PR52](https://github.com/neuhalje/bouncy-gpg/pull/52) to fix the issue

[2020-06-03 16:31] ajaysethi8789 opened #53 "No (suitable) public key for encryption to [a provided recipient email address] found"
When I'm adding the pub and secret keys of sender in KeyringConfig and i can't add more than two keys as per the function (withKeyRingsFromFiles)

But seems like it is expecting three keys (sender's public, private key and receiver public key) to be added in KeyringConfig but function doesn't allow us to add more than two keys, getting the following error  "org.bouncycastle.openpgp.PGPException: N

[2020-06-05 08:55] Sauhardstark commented on #45
Hi @neuhalje @ispringer
I'm a newbie at contribution to open source projects. I have actually used this very library in my projects, so I thought this would be a good place to start. Would you mind if I picked this up

[2020-06-06 13:44] neuhalje commented on #45
@Sauhardstark  that would be really cool!

[2020-06-12 10:34] Sauhardstark commented on #45
@neuhalje - I've written the code but I'm facing certain issues. Is there any forum/platform where we could chat for a few minutes

[2020-06-12 10:42] neuhalje commented on #45
Right now I am AFK. Maybe tomorrow? I think I have a Skype account buried somewhere. Would that suffice?

[2020-06-12 11:41] Sauhardstark commented on #45
Yeah, sure tomorrow is cool. My skype mail - sauhard.sherlockholmes@gmail.com

[2020-06-17 13:32] Sauhardstark opened #55 "Upgrade all the tests to Junit 5"
Some of the tests have assertions that have been deprecated and alternative imports are being suggested for it.

 So rather than, updating just the assertions, I was thinking that it might be better to upgrade the entire Junit framework.

If we update just the assertions, they might become obsolete soon as well. However, Junit 5 is new and should persist for a while. There are also a number of dri

[2020-06-21 10:38] neuhalje commented on #55
This sounds like a good idea. I have been thinking about this as well.

[2020-06-26 03:02] michaelthecsguy commented on #50
@neuhalje  or @mdesmons, is the fix merged to the next build? and new Jar version?

I am ready to test it.

[2020-06-26 03:55] mdesmons commented on #50
It doesn't look like it's been merged yet. I don't have write access to the repo and can only submit a PR, I think @neuhalje has to review and approve...

But my comment above provides a workaround that doesn't require changing the library, if you really need it
https://github.com/neuhalje/bouncy-gpg/issues/50#issuecomment-620277475

[2020-06-30 18:48] jonathan609 commented on #50
Can you provide an example of how to use the override with InMemoryKeyring?

Not sure how to implement the override when the parent class is not an explicit instantiation.

For example where to override the single use of "KeyringConfigCallbacks" below?

 keyring = KeyringConfigs.forGpgExportedKeys(KeyringConfigCallbacks.withPassword(passphrase));
		    keyring.addPublicKey(publicKey.getBytes("US-A

[2020-07-01 07:02] neuhalje commented on #50
I’ll look into that shortly

[2020-07-07 10:31] jaolivan opened #56 "java.io.EOFException: Unexpected end of ZIP input stream using 2.2.0 version for PGP file"
**Describe the bug**
I'm trying to decrypt a PGP file encrypted with an old version of BC (2017) within bouncy-gpg 2.2.0 and it fails giving me the error
java.io.EOFException: Unexpected end of ZIP input stream
	at org.bouncycastle.openpgp.PGPCompressedData$1.fill(Unknown Source)
	at java.util.zip.InflaterInputStream.read(InflaterInputStream.java:158)
	at org.bouncycastle.bcpg.BCPGInputStream.read

[2020-07-12 19:06] neuhalje commented on #50
Please check - should be fixes

[2020-07-12 19:17] #48 closed

[2020-07-12 19:27] #46 closed

[2020-07-21 08:49] Sauhardstark commented on #45
Issue has been fixed pursuant to the above PR

[2020-09-01 15:40] Susmit07 opened #57 "Get Key Usage for older legacy keys of PGP version 6.5.8 Network Associates"
No able to get the key usage from the Key rings of PGP version 6.5.8 Network Associates

`private static StringBuilder evaluateKeyUsage(PGPSecretKey secretKey) {
		Iterator<PGPSignature> sigItr = secretKey.getPublicKey().getSignatures();
		StringBuilder keyUsage = new StringBuilder();
		while (sigItr.hasNext()) {
			PGPSignature sig = sigItr.next();
			PGPSignatureSubpacketVector subPacks = sig.ge

[2020-09-14 15:16] zigouras commented on #48
Hi, will a production Maven release be made with a fix for this issue?  I ran into this bug recently and had to go to stackoverflow to figure it out:
https://stackoverflow.com/questions/63852907/bouncy-gpg-bouncycastle-pgp-gpg-java-api-nullpointerexception-when-trying-to-enc

Thanks for the useful project!

[2020-09-18 08:14] neuhalje commented on #48
I will try to make a release this weekend. $DAYJOB is kind of eating all of my free time

[2020-11-09 13:46] nilskp commented on #56
I have a similar, not identical, EOFException with 2.2.0. I had to revert back to previous version to restore production.

[2020-11-09 15:35] nilskp commented on #56
Here's the stacktrace I'm seeing. I put it here, because I think it's the same root cause. If not, let me know and I can open a separate ticket.

[code]

[2020-11-09 15:38] neuhalje commented on #56
The reason is ... $DAYJOB. I have a day of on Friday - will do a release there.

[2020-11-19 12:18] neuhalje commented on #56
Fixed in 2.3.0

[2020-11-19 12:18] #56 closed

[2020-11-19 12:19] neuhalje commented on #57
Please test with 2.3.0 (should be in maven any time now)

[2020-11-19 12:20] neuhalje commented on #41
Fixed in 2.3.0

[2020-11-19 12:20] #41 closed

[2020-11-19 12:21] neuhalje commented on #48
Fixed in 2.3.0

[2020-11-19 12:23] neuhalje commented on #45
Fixed in 2.3.0

[2020-11-19 12:23] #45 closed

[2021-01-04 16:12] lclement57 opened #58 "NullPointerException when trying to decrypt non-encrypted data (v2.3.0)"
**Describe the bug**
When we call the method `decryptAndVerifyStream` with an input stream that contains data that is not encrypted (for example only signed), there is a NullPointerException when reading the returned InputStream later thrown by `name.neuhalfen.projects.crypto.bouncycastle.openpgp.decrypting.MDCValidatingInputStream.validateMDC`, where the local variable `pbe` is null.

In v2.2.0,

[2021-01-05 21:19] neuhalje commented on #58
Thanks for the very detailed error report! This seems to be a bug. I'll try to get into that during the weekend (or ideally review a PR ;-) )

[2021-01-14 20:49] trvi-ncs commented on #50
Hi there! Was this ever put through? Getting the same issue here. Thanks!

[2021-01-21 14:10] DamCx commented on #56
Hello,

I'm using the version 2.3.0 and I'm still having the issue.
I also have bcprov-jdk15on as provider in version 1.6.8
Here's the stack trace:
java.io.EOFException: premature end of stream in PartialInputStream

	at org.bouncycastle.bcpg.BCPGInputStream$PartialInputStream.read(Unknown Source)
	at org.bouncycastle.bcpg.BCPGInputStream.read(Unknown Source)
	at org.bouncycastle.util.io.Streams.r

[2021-02-01 13:17] David-fang0621 opened #59 "Can be used the .P12 file as keyring"
I am going to encrypt and decrypt the files with p12 using bouncy-gpg .
Of course, I can get a public key and private key from p12 file.
But not adaptable with these public key and private key.

How can I handle this problem?
That would be appreciated for any advice.

[2021-03-19 17:05] bjansen opened #60 "Generate signature for CANONICAL_TEXT_DOCUMENT"
I have a use-case where I need to sign and encrypt a canonical text document rather than a binary document (see https://tools.ietf.org/html/rfc4880#section-5.2.1). This should replace `\n` with `\r\n` and set a particular flag, from what I understand.

It looks like the best way is to modify `name.neuhalfen.projects.crypto.bouncycastle.openpgp.encrypting.PGPEncryptingStream#setup` to make this sta

[2021-03-19 17:11] bjansen commented on #60
@neuhalje I can provide a PR if you tell me if you'd rather have an overload for `andSignWith()`, or a new method like `withSignatureType()`

[2021-04-16 03:47] Susmit07 commented on #57
I am able to solve this in a different way, do you want me to commit ?

[2021-05-03 20:36] bjansen opened #62 "Provide a custom `SignatureValidationStrategy`"
I have a use case where I need to check that decrypted data has been signed by any of two given keys. The current API `RequireSpecificSignatureValidationStrategy` supports an "AND" verification, but I need an "OR" verification.

I think it would be nice if users had the possibility to provide their own instance of `SignatureValidationStrategy`. This way they can use custom strategies without havin

[2021-05-04 09:38] bjansen commented on #62
Well I guess I can bypass the builder API and use this instead:

[code]

Is it safe to use `DecryptionStreamFactory` directly? Is there a chance this API will change or be removed in the future?

[2021-05-27 11:29] vanitasvitae opened #63 "Recommendation: Implement SOP interface to benefit from test.sequoia-pgp.org"
The folks over at sequoia-pgp.org are doing a great job of improving the OpenPGP ecosystem. What helped me a lot to gain a deeper understanding of OpenPGP signatures and verification was to implement the [Stateless OpenPGP Command Line Interface](https://datatracker.ietf.org/doc/html/draft-dkg-openpgp-stateless-cli-01) which allows to plug an implementation into the [sequoia interoperability test

[2021-06-16 09:37] miks commented on #58
Same here. Spent a couple of hours trying to understand what critical part is missing or I'm doing something completely wrong way. Until I searched "validateMDC" in this repo and get came upon this issue. Changed the version to 2.2.0 and it's working as expected. I'm not sure about PR in which cases MDCValidatingInputStream needs to be bypassed.

[2021-06-22 06:17] chanurahemal opened #64 "unknown packet type encountered: 20 error is coming when decrypt"
**Describe the bug**
I created gpg keys(public/private) and managed to successfully encrypt/decrypt files using keys in command line.
Encrypt : **gpg --batch --armor --passphrase "PASSWORD" -se --recipient "RECIPIENT"  FILE.txt**

it generated .asc file and i managed to decrypt it using bellow command
Decrypt: gpg --yes --batch --passphrase "PASSWORD" FILE.txt.asc

But when i try to decrypt the sa

[2021-07-29 15:29] Sauhardstark commented on #58
It seems to be linked to my changes related to [MDC verification](https://github.com/neuhalje/bouncy-gpg/pull/54)

@neuhalje
Should we look into adding a null check at the MDC verification or should we check which streams should be wrapped with the MDCVerificationInputStream in the first place ?

[2021-07-29 16:11] Sauhardstark commented on #62
I think your point on being able to specify a custom SignatureValidationStrategy is nice and should be further discussed with the author.
In the interim however, you might be able to take care of the issue by using the below function (if the two keys are present in the decryption key ring)

`andValidateSomeoneSigned`

But it would only validate that one of the keys in the keyring signed this messa

[2021-08-13 09:19] #64 closed

[2021-09-01 10:41] dsanghan commented on #31
@neuhalje Did you manage to figure out how to add a user ID to an existing key?

[2021-09-06 06:02] SPE-ALath commented on #64
Hi @chanurahemal,

Was there a solution for this bug ??

[2021-09-06 06:42] chanurahemal commented on #64
Actually I regenerated keys and tested, then it worked. That's why i closed the ticket. If you are having the same issue, try with generating keys on a linux machine and try. I used to generate keys on a mac and i got above error. But when i tried with keys generated on linux, it worked. Hope this helps. Good luck

[2021-09-06 09:59] SPE-ALath commented on #64
Hi @chanurahemal,

I was able to resolve it as well. I was generating key using Mac too. I was getting error because the file had to be encrypted using option —openpgp

Once I used above options while encrypting, the error was gone

[2021-09-06 10:03] chanurahemal commented on #64
Awesome, thanks!

On Mon, 6 Sep 2021 at 7:59 pm, SPE-ALath ***@***.***> wrote:

[2022-01-16 21:30] vanitasvitae commented on #63
FYI: There is now [sop-java](https://github.com/pgpainless/sop-java) which you might consider creating an implementation for.
That way you can benfit from [sop-java-picocli](https://github.com/pgpainless/sop-java/tree/master/sop-java-picocli) providing you a CLI front-end for free 😉

[2022-02-03 10:25] homps opened #66 "File with valid MDC can fail MDC verification when stream is wrapped"
**Describe the bug**
Exception thrown ('Error while validating MDC') if MDC validation occurs twice, caused by nested InputStreams.

**To Reproduce**
Wrap the `decryptAndVerifyStream` in an additional InputStream, reading to the end of that stream can cause `MDCValidatingInputStream#read` to be called twice. `PGPEncryptedData#verify` doesn't like being called twice, possibly due to the reuse of th

[2022-02-17 17:04] GiuseppeMP opened #68 "KeySelection using Realname."
**Describe the bug**
Hello everyone, I'm cannot use legacy keys that have generated without email.

**To Reproduce**
Try to use keys generated without Email, just Realname.

**Expected behavior**
Find the Key just with Realname provided.

**Additional context**
So, to resolve it I implemented this strategy:

[code]

I wondering if this make sense (is it correct) and if open an Issue/Merge worths.

[2022-03-08 06:49] pheely opened #69 "Failed to decrypt the file, received gpg: [don't know]: 1st length byte missing"
**Describe the bug**
A file is encrypted in the same fashion as in [EncryptMain](https://github.com/neuhalje/bouncy-gpg/blob/master/examples/encrypt/src/main/java/name/neuhalfen/projects/crypto/bouncycastle/openpgp/example/EncryptMain.java). When trying to decrypt it using `gpg --decrypt` command, got the following message:
[code]

**To Reproduce**
Steps to reproduce the behavior (code sample)
[co

[2022-03-20 03:37] GiuseppeMP commented on #69
Please you may try:
* Removing final modifier
* Removing output flush and close, add try-resource to do this.
* Change Path.of(String), to FileSystems.getDefault().getPath(String) for safety fs lookup.

[code]

[2022-06-03 05:26] jayadatta commented on #50
make sure to use right WithKeySelectionStrategy when initializing BouncyGPG.

we were able to resolve it by invoking selectUidByAnyUidPart() after initializing WithKeySelectionStrategy.

ex: outputStream = BouncyGPG
        .encryptToStream()
        .withConfig(keyring)**.selectUidByAnyUidPart()**
        .withStrongAlgorithms()
        .toRecipient(UID)
        .andDoNotSign()
        .binaryOut

[2022-09-15 15:19] camhashemi opened #70 ""No (suitable) public key for signing" - isn't just the sender's private key needed for signing?"
See: https://cran.r-project.org/web/packages/gpg/vignettes/intro.html#Sign_and_Encrypt

Why do we need the sender's public key as well?

[2022-09-26 12:07] gmellemstrand opened #71 "Symmetric encryption"
Is it possible to encrypt symmetrically using AES256 so that it can be decrypted using the command line GPG tool and a passphrase. If possible, it is not entirely clear in the documentation how to do this.

The decrypt command should then be something like:
`gpg --decrypt --cipher-algo AES256 --passphrase="PASSWORD"`